/**
 * Variables
*/


/* Typography */

$merriBoldFont: 'MerriBold',
sans-serif;
$merriRegularFont: 'MerriRegular',
sans-serif;
$latoRagularFont: 'LatoRegular',
sans-serif;
$latoThinFont: 'LatoThin',
sans-serif;
$latoBoldFont: 'LatoBold',
sans-serif;
$textsmall: 13px;
$textmidi: 14px;
$textmedium: 18px;
$textregular: 24px;
$textbig: 36px;
$textlarge: 48px;

/* Breakpoints */


/* Paths */


/* Grid setup */


/* Colour palette */
$white: white;
$blue: #005FA3;
$black: black;
$darkGrey: #222;
$mediumGrey: #333;
$lightGrey: #EBEBEB;
$grey: #BDBDBD;

/* Components */